{% extends "blog/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="mb-4">Add Comment</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button class="btn btn-secondary btn-sm" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}