{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <h1><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
        <p>By {{ post.author }}  on {{ post.date_posted|date:"F d, Y" }} </p>
        <p>{{ post.content }}</p>
        <a href="{% url 'post-detail' post.pk %}">Comments: {{ post.comments.count }}</a>
        <hr>
    {% endfor%}
{% endblock content %}