{% extends "blog/base.html" %}
{% block content %}

    <h1>{{ object.title }}</h1>
    <p>By {{ object.author }}  on {{ object.date_posted|date:"F d, Y" }} </p>
    <p>{{ object.content }}</p>
    {% if object.author == user%}
        <div>
            <a class="btn btn-outline-secondary btn-sm" href=" {% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-outline-secondary btn-sm" href=" {% url 'post-delete' object.id %}">Delete</a>
        </div>
    {% endif %}
    
    <hr>
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'add_comment_to_post' object.id %}">Add comment</a>
    {% for comment in object.comments.all %}
        <div class="mt-3">
            <p><strong> {{ comment.author }} </strong> on {{ comment.date_created|date:"F d, Y" }} </p>
            <p>{{ comment.content }}</p>

            {% if comment.author == user%}
                <div>
                    <a class="btn btn-outline-secondary btn-sm" href=" {% url 'delete-comment-to-post' object.id comment.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
     
    {% empty %}
        <h2> No comments here yet</h2>
    {% endfor %}

{% endblock content %}