{% extends "blog/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button class="btn btn-outline-secondary" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock content %}