<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>You are logged in {{ user.username }}</h1> 
    <div>
        
            <a href="{% url 'logout' %}">Log Out</a>
        
    </div>
</body>
</html>