<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
        </fieldset>
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
    <div>
        <small>
            Need an account? <a href="{% url 'register'%}">Sign Up</a>
        </small>
    </div>
</body>
</html>