{% extends "blog/base.html" %}
{% block content %}
    <h2>You have been logged out</h2>
    <div>
        <small>
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
{% endblock content %}