<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Reset Password</legend>
            {{ form.as_p }}
        </fieldset>
        <div>
            <button class="" type="submit">Request Password</button>
        </div>
    </form>
    
</body>
</html>