{% extends "blog/base.html" %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="content-section">
        <div class="media-body">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email}}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form.as_p }}
                {{ p_form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}