<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <div>
            <small>
                Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</body>
</html>